--
-- PostgreSQL database dump
--

\restrict dqvyiDfYQOh8uh4ybokMd2LMrxAGuoNcy685CKo06deHEpjC8AC8jAttcdAbiwM

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: comments_target_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.comments_target_type_enum AS ENUM (
    'PROJECT',
    'FEATURE',
    'TASK',
    'SUB_TASK',
    'ISSUE'
);


ALTER TYPE public.comments_target_type_enum OWNER TO postgres;

--
-- Name: features_priority_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.features_priority_enum AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public.features_priority_enum OWNER TO postgres;

--
-- Name: features_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.features_status_enum AS ENUM (
    'PLANNED',
    'IN_PROGRESS',
    'ON_HOLD',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public.features_status_enum OWNER TO postgres;

--
-- Name: issues_priority_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.issues_priority_enum AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'CRITICAL'
);


ALTER TYPE public.issues_priority_enum OWNER TO postgres;

--
-- Name: issues_severity_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.issues_severity_enum AS ENUM (
    'MINOR',
    'MAJOR',
    'CRITICAL',
    'BLOCKER'
);


ALTER TYPE public.issues_severity_enum OWNER TO postgres;

--
-- Name: issues_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.issues_status_enum AS ENUM (
    'OPEN',
    'IN_PROGRESS',
    'RESOLVED',
    'CLOSED',
    'REOPENED'
);


ALTER TYPE public.issues_status_enum OWNER TO postgres;

--
-- Name: issues_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.issues_type_enum AS ENUM (
    'ISSUE',
    'BUG'
);


ALTER TYPE public.issues_type_enum OWNER TO postgres;

--
-- Name: organizations_subscription_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.organizations_subscription_type_enum AS ENUM (
    'FREE',
    'PRO',
    'PREMIUM'
);


ALTER TYPE public.organizations_subscription_type_enum OWNER TO postgres;

--
-- Name: projects_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.projects_status_enum AS ENUM (
    'PLANNING',
    'ACTIVE',
    'ON_HOLD',
    'COMPLETED'
);


ALTER TYPE public.projects_status_enum OWNER TO postgres;

--
-- Name: roles_name_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.roles_name_enum AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'MANAGER',
    'MODERATOR',
    'TEAM_LEADER',
    'USER',
    'STAFF'
);


ALTER TYPE public.roles_name_enum OWNER TO postgres;

--
-- Name: sub_tasks_priority_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.sub_tasks_priority_enum AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public.sub_tasks_priority_enum OWNER TO postgres;

--
-- Name: sub_tasks_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.sub_tasks_status_enum AS ENUM (
    'TODO',
    'IN_PROGRESS',
    'IN_REVIEW',
    'BLOCKED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public.sub_tasks_status_enum OWNER TO postgres;

--
-- Name: tasks_priority_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tasks_priority_enum AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'URGENT'
);


ALTER TYPE public.tasks_priority_enum OWNER TO postgres;

--
-- Name: tasks_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tasks_status_enum AS ENUM (
    'TODO',
    'IN_PROGRESS',
    'IN_REVIEW',
    'BLOCKED',
    'COMPLETED',
    'CANCELLED'
);


ALTER TYPE public.tasks_status_enum OWNER TO postgres;

--
-- Name: work_logs_target_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.work_logs_target_type_enum AS ENUM (
    'TASK',
    'SUB_TASK',
    'ISSUE'
);


ALTER TYPE public.work_logs_target_type_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    body text NOT NULL,
    target_type public.comments_target_type_enum NOT NULL,
    target_id uuid NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    project_id uuid NOT NULL,
    created_by uuid
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    organization_id uuid
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: features; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.features (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    status public.features_status_enum DEFAULT 'PLANNED'::public.features_status_enum NOT NULL,
    priority public.features_priority_enum DEFAULT 'MEDIUM'::public.features_priority_enum NOT NULL,
    start_date timestamp with time zone,
    due_date timestamp with time zone,
    budget_minutes integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    project_id uuid NOT NULL,
    owner_id uuid,
    created_by uuid
);


ALTER TABLE public.features OWNER TO postgres;

--
-- Name: issues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.issues (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    type public.issues_type_enum DEFAULT 'ISSUE'::public.issues_type_enum NOT NULL,
    status public.issues_status_enum DEFAULT 'OPEN'::public.issues_status_enum NOT NULL,
    priority public.issues_priority_enum DEFAULT 'MEDIUM'::public.issues_priority_enum NOT NULL,
    severity public.issues_severity_enum DEFAULT 'MINOR'::public.issues_severity_enum NOT NULL,
    start_date timestamp with time zone,
    due_date timestamp with time zone,
    budget_minutes integer DEFAULT 0 NOT NULL,
    resolution text,
    resolved_at timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    project_id uuid NOT NULL,
    feature_id uuid,
    task_id uuid,
    sub_task_id uuid,
    reported_by uuid,
    assigned_to uuid
);


ALTER TABLE public.issues OWNER TO postgres;

--
-- Name: module_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    module_id uuid NOT NULL,
    permission_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.module_permissions OWNER TO postgres;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(120) NOT NULL,
    key character varying(120) NOT NULL,
    path character varying(200),
    icon character varying(80),
    parent_id uuid,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.modules OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_name character varying(100) NOT NULL,
    organization_type character varying(50) NOT NULL,
    organization_size character varying(20) NOT NULL,
    website character varying(255),
    org_email character varying(255),
    subscription_type public.organizations_subscription_type_enum DEFAULT 'FREE'::public.organizations_subscription_type_enum NOT NULL,
    is_subscription_taken boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    organization_owner_id uuid
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(80) NOT NULL,
    key character varying(80) NOT NULL,
    description character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: project_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_members (
    project_id uuid NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.project_members OWNER TO postgres;

--
-- Name: project_teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_teams (
    project_id uuid NOT NULL,
    team_id uuid NOT NULL
);


ALTER TABLE public.project_teams OWNER TO postgres;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    status public.projects_status_enum DEFAULT 'PLANNING'::public.projects_status_enum NOT NULL,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    department_id uuid,
    created_by uuid,
    budget_minutes integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    role_id uuid NOT NULL,
    menu_permission_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name public.roles_name_enum NOT NULL,
    description character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    deleted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: sub_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sub_tasks (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    status public.sub_tasks_status_enum DEFAULT 'TODO'::public.sub_tasks_status_enum NOT NULL,
    priority public.sub_tasks_priority_enum DEFAULT 'MEDIUM'::public.sub_tasks_priority_enum NOT NULL,
    start_date timestamp with time zone,
    due_date timestamp with time zone,
    budget_minutes integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    project_id uuid NOT NULL,
    feature_id uuid NOT NULL,
    task_id uuid NOT NULL,
    assigned_to uuid,
    created_by uuid
);


ALTER TABLE public.sub_tasks OWNER TO postgres;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    status public.tasks_status_enum DEFAULT 'TODO'::public.tasks_status_enum NOT NULL,
    priority public.tasks_priority_enum DEFAULT 'MEDIUM'::public.tasks_priority_enum NOT NULL,
    start_date timestamp with time zone,
    due_date timestamp with time zone,
    budget_minutes integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    project_id uuid NOT NULL,
    feature_id uuid NOT NULL,
    assigned_to uuid,
    created_by uuid
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    department_id uuid NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    organization_id uuid
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: user_teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_teams (
    user_id uuid NOT NULL,
    team_id uuid NOT NULL
);


ALTER TABLE public.user_teams OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255),
    mobile_no character varying(20),
    designation character varying(100),
    is_active boolean DEFAULT true NOT NULL,
    last_login_at timestamp with time zone,
    failed_login_attempts integer DEFAULT 0 NOT NULL,
    locked_until timestamp with time zone,
    "hashedRefreshToken" character varying,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    role_id uuid NOT NULL,
    organization_id uuid,
    department_id uuid
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: work_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    description text,
    log_date date NOT NULL,
    minutes_spent integer NOT NULL,
    target_type public.work_logs_target_type_enum NOT NULL,
    target_id uuid NOT NULL,
    is_deleted boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    organization_id uuid NOT NULL,
    project_id uuid NOT NULL,
    feature_id uuid,
    task_id uuid,
    sub_task_id uuid,
    issue_id uuid,
    user_id uuid
);


ALTER TABLE public.work_logs OWNER TO postgres;

--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: features; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: issues; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: module_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_members; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project_teams; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sub_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sub_tasks (id, title, description, status, priority, start_date, due_date, budget_minutes, is_active, is_deleted, created_at, updated_at, deleted_at, organization_id, project_id, feature_id, task_id, assigned_to, created_by) FROM stdin;
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_teams (user_id, team_id) FROM stdin;
a32189e1-96b3-487d-a226-292b5bb60fcb	fd7f07f1-90ed-4c6d-9235-c656ded5ca70
a32189e1-96b3-487d-a226-292b5bb60fcb	cef4b07a-db06-46d0-b9dc-fe22a2691da0
a32189e1-96b3-487d-a226-292b5bb60fcb	0bd180c4-1460-4021-bf67-5863d3abb991
38f22905-7bf4-4d8c-a1cf-7c7ffaeb2c6d	4f5459e3-8d07-43ca-a6fc-c15ecbaf2976
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: work_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: sub_tasks PK_0028874355f68f2ed21a89c2faf; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "PK_0028874355f68f2ed21a89c2faf" PRIMARY KEY (id);


--
-- Name: project_teams PK_0474ed6380b82e0ecdb54124a93; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_teams
    ADD CONSTRAINT "PK_0474ed6380b82e0ecdb54124a93" PRIMARY KEY (project_id, team_id);


--
-- Name: features PK_5c1e336df2f4a7051e5bf08a941; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT "PK_5c1e336df2f4a7051e5bf08a941" PRIMARY KEY (id);


--
-- Name: projects PK_6271df0a7aed1d6c0691ce6ac50; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "PK_6271df0a7aed1d6c0691ce6ac50" PRIMARY KEY (id);


--
-- Name: organizations PK_6b031fcd0863e3f6b44230163f9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT "PK_6b031fcd0863e3f6b44230163f9" PRIMARY KEY (id);


--
-- Name: user_teams PK_73a4ff91e5f6ff3eae7356555ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "PK_73a4ff91e5f6ff3eae7356555ab" PRIMARY KEY (user_id, team_id);


--
-- Name: modules PK_7dbefd488bd96c5bf31f0ce0c95; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT "PK_7dbefd488bd96c5bf31f0ce0c95" PRIMARY KEY (id);


--
-- Name: teams PK_7e5523774a38b08a6236d322403; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT "PK_7e5523774a38b08a6236d322403" PRIMARY KEY (id);


--
-- Name: departments PK_839517a681a86bb84cbcc6a1e9d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT "PK_839517a681a86bb84cbcc6a1e9d" PRIMARY KEY (id);


--
-- Name: role_permissions PK_84059017c90bfcb701b8fa42297; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "PK_84059017c90bfcb701b8fa42297" PRIMARY KEY (id);


--
-- Name: comments PK_8bf68bc960f2b69e818bdb90dcb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "PK_8bf68bc960f2b69e818bdb90dcb" PRIMARY KEY (id);


--
-- Name: tasks PK_8d12ff38fcc62aaba2cab748772; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "PK_8d12ff38fcc62aaba2cab748772" PRIMARY KEY (id);


--
-- Name: permissions PK_920331560282b8bd21bb02290df; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT "PK_920331560282b8bd21bb02290df" PRIMARY KEY (id);


--
-- Name: issues PK_9d8ecbbeff46229c700f0449257; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "PK_9d8ecbbeff46229c700f0449257" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: project_members PK_b3f491d3a3f986106d281d8eb4b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT "PK_b3f491d3a3f986106d281d8eb4b" PRIMARY KEY (project_id, user_id);


--
-- Name: module_permissions PK_bf5fcec22f78b73d1945ae9ec4d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_permissions
    ADD CONSTRAINT "PK_bf5fcec22f78b73d1945ae9ec4d" PRIMARY KEY (id);


--
-- Name: roles PK_c1433d71a4838793a49dcad46ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "PK_c1433d71a4838793a49dcad46ab" PRIMARY KEY (id);


--
-- Name: work_logs PK_f4f3234af57451baa20576887be; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "PK_f4f3234af57451baa20576887be" PRIMARY KEY (id);


--
-- Name: roles UQ_648e3f5447f725579d7d4ffdfb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT "UQ_648e3f5447f725579d7d4ffdfb7" UNIQUE (name);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: IDX_006715ef1e1b40852f379efe56; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_006715ef1e1b40852f379efe56" ON public.user_teams USING btree (team_id);


--
-- Name: IDX_00fa5db8e3e94fd1ef2364d2ba; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_00fa5db8e3e94fd1ef2364d2ba" ON public.issues USING btree (is_deleted);


--
-- Name: IDX_017943867ed5ceef9c03edd974; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_017943867ed5ceef9c03edd974" ON public.permissions USING btree (key);


--
-- Name: IDX_03dbde2ff570596e874bb3bb31; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_03dbde2ff570596e874bb3bb31" ON public.comments USING btree (project_id);


--
-- Name: IDX_067be4bd67747aa64451933929; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_067be4bd67747aa64451933929" ON public.tasks USING btree (title);


--
-- Name: IDX_0a7fdc9732bc00fd7393cf2401; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_0a7fdc9732bc00fd7393cf2401" ON public.issues USING btree (type);


--
-- Name: IDX_0b3ef9c46b04cedaad411a88a4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_0b3ef9c46b04cedaad411a88a4" ON public.sub_tasks USING btree (assigned_to);


--
-- Name: IDX_11f35e8296e10c229e7b68c68d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_11f35e8296e10c229e7b68c68d" ON public.issues USING btree (project_id);


--
-- Name: IDX_121444270d4586e4142df13dd9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_121444270d4586e4142df13dd9" ON public.work_logs USING btree (organization_id, project_id, log_date, is_deleted);


--
-- Name: IDX_134cb30d8d4bf2b3480f37c399; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_134cb30d8d4bf2b3480f37c399" ON public.issues USING btree (organization_id, project_id, feature_id, task_id, sub_task_id, is_deleted);


--
-- Name: IDX_1552375559043d106dc9014c55; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_1552375559043d106dc9014c55" ON public.features USING btree (is_active);


--
-- Name: IDX_15dc6e860b0726d20dc27811d5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_15dc6e860b0726d20dc27811d5" ON public.tasks USING btree (feature_id);


--
-- Name: IDX_179323bb824f14b5707aab64ef; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_179323bb824f14b5707aab64ef" ON public.issues USING btree (priority);


--
-- Name: IDX_2065bdbad8377209fc2f4b241d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_2065bdbad8377209fc2f4b241d" ON public.work_logs USING btree (organization_id);


--
-- Name: IDX_2187088ab5ef2a918473cb9900; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_2187088ab5ef2a918473cb9900" ON public.projects USING btree (name);


--
-- Name: IDX_21f9958c7d0b0415f0e7420851; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_21f9958c7d0b0415f0e7420851" ON public.issues USING btree (due_date);


--
-- Name: IDX_2d1f80027cea452bff2233aa24; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_2d1f80027cea452bff2233aa24" ON public.issues USING btree (task_id);


--
-- Name: IDX_2ea4ade09c1b16aeba18fded18; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_2ea4ade09c1b16aeba18fded18" ON public.organizations USING btree (organization_name);


--
-- Name: IDX_32d3baea565a70c8aa77adc6b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_32d3baea565a70c8aa77adc6b6" ON public.work_logs USING btree (target_id);


--
-- Name: IDX_335ce1df46cecadc4c5b46c62d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_335ce1df46cecadc4c5b46c62d" ON public.issues USING btree (severity);


--
-- Name: IDX_3433ec106934e4583478cba46f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3433ec106934e4583478cba46f" ON public.work_logs USING btree (user_id);


--
-- Name: IDX_3840ee3004a4825af54d8e33d5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3840ee3004a4825af54d8e33d5" ON public.sub_tasks USING btree (is_active);


--
-- Name: IDX_3943423a920a44564dab3855ef; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3943423a920a44564dab3855ef" ON public.projects USING btree (is_deleted);


--
-- Name: IDX_3c38747fdcd7dcd436ce60138b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3c38747fdcd7dcd436ce60138b" ON public.comments USING btree (organization_id, target_type, target_id, is_deleted);


--
-- Name: IDX_3efdd0291d5ae99ba8e8f3b8bc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_3efdd0291d5ae99ba8e8f3b8bc" ON public.features USING btree (owner_id);


--
-- Name: IDX_413f23f0fef62a9246eb51809f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_413f23f0fef62a9246eb51809f" ON public.tasks USING btree (is_deleted);


--
-- Name: IDX_44a9b5209cdfd6f72fb09a7c99; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_44a9b5209cdfd6f72fb09a7c99" ON public.tasks USING btree (organization_id);


--
-- Name: IDX_4b30fd208a553e8b89831059b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4b30fd208a553e8b89831059b6" ON public.sub_tasks USING btree (priority);


--
-- Name: IDX_4b9f1ac70ed804f7ebb2c0a0c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4b9f1ac70ed804f7ebb2c0a0c8" ON public.issues USING btree (organization_id);


--
-- Name: IDX_4bba2f0a52593381f83d9fad15; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4bba2f0a52593381f83d9fad15" ON public.issues USING btree (sub_task_id);


--
-- Name: IDX_4c42283f53fdffd53e805fed19; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4c42283f53fdffd53e805fed19" ON public.features USING btree (project_id);


--
-- Name: IDX_4f84ef1c3326b0faf0e7d7fe14; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_4f84ef1c3326b0faf0e7d7fe14" ON public.issues USING btree (is_active);


--
-- Name: IDX_51b47affd5e3a8e4082509cbc1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_51b47affd5e3a8e4082509cbc1" ON public.sub_tasks USING btree (due_date);


--
-- Name: IDX_54734067dd01b725684e543f4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_54734067dd01b725684e543f4b" ON public.issues USING btree (title);


--
-- Name: IDX_5770b28d72ca90c43b1381bf78; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_5770b28d72ca90c43b1381bf78" ON public.tasks USING btree (assigned_to);


--
-- Name: IDX_5fdf041862be7c47abf1f06997; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_5fdf041862be7c47abf1f06997" ON public.sub_tasks USING btree (status);


--
-- Name: IDX_6086c8dafbae729a930c04d865; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_6086c8dafbae729a930c04d865" ON public.tasks USING btree (status);


--
-- Name: IDX_616c2aacc3decb29f83b602057; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_616c2aacc3decb29f83b602057" ON public.comments USING btree (target_type);


--
-- Name: IDX_648e3f5447f725579d7d4ffdfb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_648e3f5447f725579d7d4ffdfb" ON public.roles USING btree (name);


--
-- Name: IDX_707cfc415c7c12d38dfc2ec8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_707cfc415c7c12d38dfc2ec8eb" ON public.tasks USING btree (due_date);


--
-- Name: IDX_76f984d20b0b91d55908341b5d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_76f984d20b0b91d55908341b5d" ON public.work_logs USING btree (issue_id);


--
-- Name: IDX_8204786dadd73375e0b424ebe5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8204786dadd73375e0b424ebe5" ON public.work_logs USING btree (is_deleted);


--
-- Name: IDX_833cdfe3b7b15a1bf03da48973; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_833cdfe3b7b15a1bf03da48973" ON public.features USING btree (organization_id, project_id, is_deleted);


--
-- Name: IDX_88270bfc3ffe2f8cec5cdb175a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_88270bfc3ffe2f8cec5cdb175a" ON public.sub_tasks USING btree (organization_id);


--
-- Name: IDX_8c99993723ea4f4f49a989d8f5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8c99993723ea4f4f49a989d8f5" ON public.sub_tasks USING btree (organization_id, project_id, feature_id, task_id, is_deleted);


--
-- Name: IDX_8d13ed91f67738c84692c0dc7b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8d13ed91f67738c84692c0dc7b" ON public.comments USING btree (is_deleted);


--
-- Name: IDX_8e02f911192897094a081e6823; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8e02f911192897094a081e6823" ON public.project_teams USING btree (project_id);


--
-- Name: IDX_8fe5c2ff30b2a1f7abad8cfa6a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_8fe5c2ff30b2a1f7abad8cfa6a" ON public.work_logs USING btree (organization_id, target_type, target_id, is_deleted);


--
-- Name: IDX_91a5e22000d7777f4351080b29; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_91a5e22000d7777f4351080b29" ON public.work_logs USING btree (target_type);


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_980bfefe00ed11685f325d0bd4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_980bfefe00ed11685f325d0bd4" ON public.comments USING btree (created_by);


--
-- Name: IDX_984a2b1cb9fe85a55fe16ddf0a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_984a2b1cb9fe85a55fe16ddf0a" ON public.features USING btree (due_date);


--
-- Name: IDX_9b8ea8a58b3c635813e2e31a03; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_9b8ea8a58b3c635813e2e31a03" ON public.features USING btree (priority);


--
-- Name: IDX_9eecdb5b1ed8c7c2a1b392c28d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_9eecdb5b1ed8c7c2a1b392c28d" ON public.tasks USING btree (project_id);


--
-- Name: IDX_a27865a7be17886e3088f4a650; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_a27865a7be17886e3088f4a650" ON public.projects USING btree (status);


--
-- Name: IDX_a57f2b3bd9ebb022212e634f60; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_a57f2b3bd9ebb022212e634f60" ON public.modules USING btree (key);


--
-- Name: IDX_a65c32956651e921049e38caf1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_a65c32956651e921049e38caf1" ON public.issues USING btree (assigned_to);


--
-- Name: IDX_a73bdb55794ec2e4c63cff1d63; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_a73bdb55794ec2e4c63cff1d63" ON public.comments USING btree (organization_id);


--
-- Name: IDX_b5729113570c20c7e214cf3f58; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_b5729113570c20c7e214cf3f58" ON public.project_members USING btree (project_id);


--
-- Name: IDX_b610b7af9c0262497d973d51be; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_b610b7af9c0262497d973d51be" ON public.features USING btree (is_deleted);


--
-- Name: IDX_b7fd6df20da19c630741ea9045; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_b7fd6df20da19c630741ea9045" ON public.issues USING btree (status);


--
-- Name: IDX_bcc3a344ae156a9fba128e1cb4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_bcc3a344ae156a9fba128e1cb4" ON public.features USING btree (name);


--
-- Name: IDX_bd213ab7fa55f02309c5f23bbc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_bd213ab7fa55f02309c5f23bbc" ON public.tasks USING btree (priority);


--
-- Name: IDX_be4002db4cc6e2d20577f48ddf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_be4002db4cc6e2d20577f48ddf" ON public.sub_tasks USING btree (task_id);


--
-- Name: IDX_bfc84cd5e95c6ce6a491da0b67; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_bfc84cd5e95c6ce6a491da0b67" ON public.work_logs USING btree (log_date);


--
-- Name: IDX_c2375f599bc9b7015c7380322d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_c2375f599bc9b7015c7380322d" ON public.work_logs USING btree (feature_id);


--
-- Name: IDX_c448616f12038bffafbeea6828; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_c448616f12038bffafbeea6828" ON public.project_teams USING btree (team_id);


--
-- Name: IDX_ce163bbe02b635c40c7a6cb5f8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_ce163bbe02b635c40c7a6cb5f8" ON public.features USING btree (status);


--
-- Name: IDX_d02af19dbcaa18e7444987ede0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_d02af19dbcaa18e7444987ede0" ON public.role_permissions USING btree (role_id, menu_permission_id);


--
-- Name: IDX_d05ff08a6132abbd8fcd968721; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d05ff08a6132abbd8fcd968721" ON public.issues USING btree (feature_id);


--
-- Name: IDX_d0c20bf366112a1dee5b244b3e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d0c20bf366112a1dee5b244b3e" ON public.sub_tasks USING btree (project_id);


--
-- Name: IDX_d23a05230d867a9c7dbff20779; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d23a05230d867a9c7dbff20779" ON public.sub_tasks USING btree (is_deleted);


--
-- Name: IDX_d891f4dca6a3bc0cd0d1bae566; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d891f4dca6a3bc0cd0d1bae566" ON public.sub_tasks USING btree (feature_id);


--
-- Name: IDX_d8d59f6640de35dfc660c9115f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_d8d59f6640de35dfc660c9115f" ON public.work_logs USING btree (task_id);


--
-- Name: IDX_ddee446124cffd1c3448d6f0a0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_ddee446124cffd1c3448d6f0a0" ON public.sub_tasks USING btree (title);


--
-- Name: IDX_e14dde1b3a2e577a2cb1584a16; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e14dde1b3a2e577a2cb1584a16" ON public.work_logs USING btree (project_id);


--
-- Name: IDX_e18aaa5ebe54c92fcc2adb5edc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IDX_e18aaa5ebe54c92fcc2adb5edc" ON public.module_permissions USING btree (module_id, permission_id);


--
-- Name: IDX_e440b2b8e8f88b816ec6e0a4fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e440b2b8e8f88b816ec6e0a4fa" ON public.tasks USING btree (organization_id, project_id, feature_id, is_deleted);


--
-- Name: IDX_e89aae80e010c2faa72e6a49ce; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_e89aae80e010c2faa72e6a49ce" ON public.project_members USING btree (user_id);


--
-- Name: IDX_ea746fd451f018320450aa0013; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_ea746fd451f018320450aa0013" ON public.projects USING btree (is_active);


--
-- Name: IDX_eb85ecb7fe2892be68166eea8a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_eb85ecb7fe2892be68166eea8a" ON public.comments USING btree (target_id);


--
-- Name: IDX_ecd8570da95b4ae8fa9a943803; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_ecd8570da95b4ae8fa9a943803" ON public.work_logs USING btree (sub_task_id);


--
-- Name: IDX_edb86616dfba2a5ff503ae3c3f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_edb86616dfba2a5ff503ae3c3f" ON public.tasks USING btree (is_active);


--
-- Name: IDX_ee838ec2b13ac600a162c20ce3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_ee838ec2b13ac600a162c20ce3" ON public.user_teams USING btree (user_id);


--
-- Name: IDX_f07d1301d756b49bc7bbe5643d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_f07d1301d756b49bc7bbe5643d" ON public.features USING btree (organization_id);


--
-- Name: user_teams FK_006715ef1e1b40852f379efe567; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "FK_006715ef1e1b40852f379efe567" FOREIGN KEY (team_id) REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments FK_03dbde2ff570596e874bb3bb311; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "FK_03dbde2ff570596e874bb3bb311" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: issues FK_0579d14de2c036ceebccf0b2a92; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_0579d14de2c036ceebccf0b2a92" FOREIGN KEY (reported_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users FK_0921d1972cf861d568f5271cd85; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_0921d1972cf861d568f5271cd85" FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: sub_tasks FK_0b3ef9c46b04cedaad411a88a4c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "FK_0b3ef9c46b04cedaad411a88a4c" FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: issues FK_11f35e8296e10c229e7b68c68d4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_11f35e8296e10c229e7b68c68d4" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: tasks FK_15dc6e860b0726d20dc27811d51; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "FK_15dc6e860b0726d20dc27811d51" FOREIGN KEY (feature_id) REFERENCES public.features(id) ON DELETE CASCADE;


--
-- Name: role_permissions FK_178199805b901ccd220ab7740ec; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_178199805b901ccd220ab7740ec" FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: work_logs FK_2065bdbad8377209fc2f4b241d5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_2065bdbad8377209fc2f4b241d5" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: users FK_21a659804ed7bf61eb91688dea7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_21a659804ed7bf61eb91688dea7" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: module_permissions FK_246686f42c792bbf72e10aa8470; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_permissions
    ADD CONSTRAINT "FK_246686f42c792bbf72e10aa8470" FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: issues FK_2d1f80027cea452bff2233aa242; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_2d1f80027cea452bff2233aa242" FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE SET NULL;


--
-- Name: work_logs FK_3433ec106934e4583478cba46f1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_3433ec106934e4583478cba46f1" FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: features FK_3efdd0291d5ae99ba8e8f3b8bce; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT "FK_3efdd0291d5ae99ba8e8f3b8bce" FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks FK_44a9b5209cdfd6f72fb09a7c994; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "FK_44a9b5209cdfd6f72fb09a7c994" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: issues FK_4b9f1ac70ed804f7ebb2c0a0c8c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_4b9f1ac70ed804f7ebb2c0a0c8c" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: issues FK_4bba2f0a52593381f83d9fad156; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_4bba2f0a52593381f83d9fad156" FOREIGN KEY (sub_task_id) REFERENCES public.sub_tasks(id) ON DELETE SET NULL;


--
-- Name: features FK_4c42283f53fdffd53e805fed192; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT "FK_4c42283f53fdffd53e805fed192" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: tasks FK_5770b28d72ca90c43b1381bf787; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "FK_5770b28d72ca90c43b1381bf787" FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: projects FK_585c8ce06628c70b70100bfb842; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "FK_585c8ce06628c70b70100bfb842" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: features FK_67c0e874b8456ab2a5b0949cd7d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT "FK_67c0e874b8456ab2a5b0949cd7d" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: departments FK_71070628c130f2c9cd3cd5f082f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT "FK_71070628c130f2c9cd3cd5f082f" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: module_permissions FK_758629023e3f33a771909702503; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.module_permissions
    ADD CONSTRAINT "FK_758629023e3f33a771909702503" FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: organizations FK_768ea0519cb92f8b519a00313c4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT "FK_768ea0519cb92f8b519a00313c4" FOREIGN KEY (organization_owner_id) REFERENCES public.users(id);


--
-- Name: work_logs FK_76f984d20b0b91d55908341b5d3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_76f984d20b0b91d55908341b5d3" FOREIGN KEY (issue_id) REFERENCES public.issues(id) ON DELETE SET NULL;


--
-- Name: sub_tasks FK_88270bfc3ffe2f8cec5cdb175ad; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "FK_88270bfc3ffe2f8cec5cdb175ad" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: projects FK_8a7ccdb94bcc8635f933c8f8080; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "FK_8a7ccdb94bcc8635f933c8f8080" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: project_teams FK_8e02f911192897094a081e6823b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_teams
    ADD CONSTRAINT "FK_8e02f911192897094a081e6823b" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sub_tasks FK_968c26db44fd51daef1bbf9822d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "FK_968c26db44fd51daef1bbf9822d" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: comments FK_980bfefe00ed11685f325d0bd4c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "FK_980bfefe00ed11685f325d0bd4c" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks FK_9eecdb5b1ed8c7c2a1b392c28d4; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "FK_9eecdb5b1ed8c7c2a1b392c28d4" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: tasks FK_9fc727aef9e222ebd09dc8dac08; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT "FK_9fc727aef9e222ebd09dc8dac08" FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users FK_a2cecd1a3531c0b041e29ba46e1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "FK_a2cecd1a3531c0b041e29ba46e1" FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- Name: issues FK_a65c32956651e921049e38caf13; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_a65c32956651e921049e38caf13" FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: comments FK_a73bdb55794ec2e4c63cff1d631; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT "FK_a73bdb55794ec2e4c63cff1d631" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: project_members FK_b5729113570c20c7e214cf3f58d; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT "FK_b5729113570c20c7e214cf3f58d" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sub_tasks FK_be4002db4cc6e2d20577f48ddf3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "FK_be4002db4cc6e2d20577f48ddf3" FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: work_logs FK_c2375f599bc9b7015c7380322d9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_c2375f599bc9b7015c7380322d9" FOREIGN KEY (feature_id) REFERENCES public.features(id) ON DELETE SET NULL;


--
-- Name: project_teams FK_c448616f12038bffafbeea68285; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_teams
    ADD CONSTRAINT "FK_c448616f12038bffafbeea68285" FOREIGN KEY (team_id) REFERENCES public.teams(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: issues FK_d05ff08a6132abbd8fcd9687212; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.issues
    ADD CONSTRAINT "FK_d05ff08a6132abbd8fcd9687212" FOREIGN KEY (feature_id) REFERENCES public.features(id) ON DELETE SET NULL;


--
-- Name: sub_tasks FK_d0c20bf366112a1dee5b244b3e9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "FK_d0c20bf366112a1dee5b244b3e9" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: sub_tasks FK_d891f4dca6a3bc0cd0d1bae5664; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sub_tasks
    ADD CONSTRAINT "FK_d891f4dca6a3bc0cd0d1bae5664" FOREIGN KEY (feature_id) REFERENCES public.features(id) ON DELETE CASCADE;


--
-- Name: work_logs FK_d8d59f6640de35dfc660c9115fe; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_d8d59f6640de35dfc660c9115fe" FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE SET NULL;


--
-- Name: teams FK_da396a3d0106549cc8a55d6d7d9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT "FK_da396a3d0106549cc8a55d6d7d9" FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: work_logs FK_e14dde1b3a2e577a2cb1584a161; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_e14dde1b3a2e577a2cb1584a161" FOREIGN KEY (project_id) REFERENCES public.projects(id) ON DELETE CASCADE;


--
-- Name: project_members FK_e89aae80e010c2faa72e6a49ce8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_members
    ADD CONSTRAINT "FK_e89aae80e010c2faa72e6a49ce8" FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: work_logs FK_ecd8570da95b4ae8fa9a9438033; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_logs
    ADD CONSTRAINT "FK_ecd8570da95b4ae8fa9a9438033" FOREIGN KEY (sub_task_id) REFERENCES public.sub_tasks(id) ON DELETE SET NULL;


--
-- Name: user_teams FK_ee838ec2b13ac600a162c20ce33; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_teams
    ADD CONSTRAINT "FK_ee838ec2b13ac600a162c20ce33" FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: features FK_f07d1301d756b49bc7bbe5643d3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.features
    ADD CONSTRAINT "FK_f07d1301d756b49bc7bbe5643d3" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: projects FK_f124be8f746d28f6414b99d2a65; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT "FK_f124be8f746d28f6414b99d2a65" FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: teams FK_fdc736f761896ccc179c823a785; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT "FK_fdc736f761896ccc179c823a785" FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: role_permissions FK_ff1ce7e7152359e902456f75dc1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "FK_ff1ce7e7152359e902456f75dc1" FOREIGN KEY (menu_permission_id) REFERENCES public.module_permissions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dqvyiDfYQOh8uh4ybokMd2LMrxAGuoNcy685CKo06deHEpjC8AC8jAttcdAbiwM

